* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  word-break: keep-all;
  outline: px solid silver;
}

.accident-menu {
  header {
    color: white;
    background-color: rgb(143, 199, 187);
    font-size: 2rem;
    font-weight: bold;
    padding: 20px 15px;
  }
}

.myApp {
  width: 1200px;
  margin: 0 auto;
}

.myApp > :last-child {
  display: flex;
  justify-content: space-between;
  height: 700px;
}
